<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,309}</string>
                <key>spriteSourceSize</key>
                <string>{308,309}</string>
                <key>textureRect</key>
                <string>{{0,491},{308,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{308,491},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{52,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{132,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{240,0},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{359,0},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{512,0},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,193}</string>
                <key>spriteSourceSize</key>
                <string>{193,193}</string>
                <key>textureRect</key>
                <string>{{0,183},{193,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{193,183},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,308}</string>
                <key>spriteSourceSize</key>
                <string>{308,308}</string>
                <key>textureRect</key>
                <string>{{451,183},{308,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruits.png</string>
            <key>size</key>
            <string>{759,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b120ec3bc1dd3ecd25d8a9b2592fc77c:ae1ad0282829a958c9fe49e83c57cb51:56755924368b5e18801fdad7263bb90b$</string>
            <key>textureFileName</key>
            <string>fruits.png</string>
        </dict>
    </dict>
</plist>
