<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit_grain_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,369},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,41},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,82},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,123},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,164},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,205},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,246},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,287},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_grain_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{0,328},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruit_grains.png</string>
            <key>size</key>
            <string>{24,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72aa1d9eac2e5276766ba7a677bc3b84:bb9837eef5905e3e84dd5f6fcda41026:9fb37a0720f1a25d7b6123ea9c0709ff$</string>
            <key>textureFileName</key>
            <string>fruit_grains.png</string>
        </dict>
    </dict>
</plist>
