<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>splash_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{0,0},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{1276,292},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{319,0},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{638,0},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{957,0},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{1276,0},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{0,292},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{319,292},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{638,292},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,292}</string>
                <key>textureRect</key>
                <string>{{957,292},{319,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>splashes.png</string>
            <key>size</key>
            <string>{1595,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:136f95eb1da9df967ebeec8c5bbbce80:8f4702c59c348102e78540ba5ae14b4a:6878cc9ae52ae516a7687bea9e4a9465$</string>
            <key>textureFileName</key>
            <string>splashes.png</string>
        </dict>
    </dict>
</plist>
